body {
	margin: 10px;
  background-color: #02010a;
	font-family: Dancing Script;
}

#banner {
	width: 900px;
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
  -moz-borderradius:10px 10px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
}

h1{
	text-align: left;
  text-shadow: 1px 2px 3px #02010a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;;;
}

li a {
    display: block;
    padding: 20px;
}

.contenido {
	margin: 0 auto;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.contenido div {
  box-sizing: border-box;
	min-width: 50px;
	width: 900px;
	float: center;
	display:block;
}
.bloque1 {
  color: #ddd;
  background-color: #82c3a6;
	min-height: 200px;
	width: 100%;
}
.bloque2 {
  color: #333;
  background-color: #d5c75f;
	min-height: 600px;
	width: 50%;
}
.bloque3 {
  color: #333;
  background-color: red;
		min-height: 600px;
	width: 50%;
}
@media all and (max-width: 900px) and (min-width:700px) {
	.contenido{
		width: 100%;
	}
	.bloque1 {
		width: 100%;
	}
	.bloque2 {
		width: 50%;
		min-height: 400px;
	}
	.bloque3{
		width: 50%;
		min-height: 400px;
	}
}
@media all and (max-width: 700px) and (min-width:480px) {
	.contenido{
		width: 100%;
	}
	.bloque1 {
		width: 100%;

	}
	.bloque2 {
		width: 100%;
		min-height: 400px;
	}
	.bloque3{
		width: 100%;
		min-height: 400px;
	}
}
@media all and (max-width: 480px) {
	.contenedor{
		width: 100%;
	}
	.bloque1 {
		width: 100%;
	}
	.bloque2 {
		width: 100%;
		min-height: 400px;
	}
	.bloque3{
		width: 100%;
		min-height: 400px;
	}
}

#footer {
	padding: 10px;

  background-color: #C6d5c5;
  color: white;
  text-align: left;
  border-radius: 0px 0px 10px 10px;
  -moz-borderradius:0px 0px 10px 10px;
  -webkit-border-radius:0px 0px 10px 10px;
}
